.item-container {
    height: 220px;
}

.item {
    width: 100%;
    background-color: #F9FAFC;
    border-radius: 20px;
    padding: 1rem;
}

.item img {
    width: 100%;
    object-fit: cover;

}

.item-title {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #9CA0AF;
    padding-bottom: 3px;
    white-space: nowrap;        /* Prevents line breaks */
    overflow: hidden;           /* Hides overflow text */
    text-overflow: ellipsis;    /* Adds "..." at the end of the line */
    width: 100%;
}

.item-price {
    font-size: 18px;
    font-weight: 600;
    color: #2D323A;
    letter-spacing: 0.2px;
}

.item-add-cart-btn {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 6px;
    border: none;
    margin-top: 6px;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.item-add-cart-btn p{
    height: 22px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-add-cart-btn:hover{
    background-color: #F9FAFC;
}

.item-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

.item-actions.show {
    max-height: 70px; /* Set to a comfortable height for the content */
    opacity: 1;
    visibility: visible;
}

.item-actions input {
    width: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


.item-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.item-actions button:first-child:active{
    background-color: #8ac926 !important;
}

.item-actions button:last-child:active{
    background-color: #da4550 !important;
}

