.single-bottom {
    background-color: #282C32;
    color: white;
    border: none;
    margin: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    width: 100%;
    box-shadow: 0px 10px 35px 15px #838383da;
    position: sticky;
    padding-top: 30px;
    font-family: "Inter", serif;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    bottom: 0;
}


.bottom-title {
    font-size: 20px;
    font-weight: 800;
}

.bottom-cat{
    font-size: 14px;
    color: #9CA0AF;
    margin-bottom: 15px;
}

.description {
    font-size: 12px;
    color: #9CA0AF;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: justify;
    height: 150px;
    overflow-y: auto;
}

.bottom-actions {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bottom-price p {
    font-size: 22px;
    font-weight: 800;
}

.bottom-price span {
    font-size: 16px;
    color: #9CA0AF;
}

.bottom-add-cart{
    display: inline-block;
    background-color: #FF7269;
    border-radius: 14px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
}

.counter-items {
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: 20% 55% 20%;
    grid-template-rows: 35px;
}

.counter-items button, .counter-items input {
    background-color: white;
    border: none;
    border-radius: 7px;
    outline: none;
    text-align: center;
}

.counter-items button {
    cursor: pointer;
}