@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-weight: 400;
}

.main-title{
  font-size: 25px;
  font-weight: bold;
  color: #2D323A;
}

.sub-title{
  font-size: 14px;
  font-weight: 200;
  color: #9CA0AF;
}

.container {
  padding: 1rem 1.5rem;
}